:root {
  --primary-color: #6979F8;
  --primary-color-hover: #A5AFFB;
  --secondary-color: #BE52F2;
}

* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}